<section>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 form_bg" style="margin-top: 121px;">
            <div class="text-center" style="color: #ffffff">
                <h1 style="font-family: cursive;">THANK YOU!</h1>
                <p>We have sent verificaton link to your Email. <br> Please verify and give your verification.</p>
                
                <h3 style="font-family: 'Pacifico';line-height: 1.6 !important;">Now you are step to light up the lives! <br>Stay with us to spread the BLOODSHIP!</h3>
                <!-- <h1><i class="fa fa-check"></i></h1> -->
                <!-- <img id="cspio-logo" src="assets/images/logo_white.png" style="height:160px"> -->
                <h3>Give a drop ! Save a life !</h3>
                <a href="/" class="social-icons"><h3><i class="fa fa-home" style="color: white; border: 1px solid white;"></i></h3><span style="color:red">Goto Home</span></a>
                
                <br>
                <div id="cspio-socialprofiles">
                    <p>Follow Us On</p >
                    <a href="https://www.facebook.com/bloodtolife/" target="_blank" class="social-icons"><i class="fa fa-facebook-official fa-2x"></i></a>			
                    <a href="https://twitter.com/blood2life" target="_blank" class="social-icons"><i class="fa fa-twitter fa-2x"></i></a>			
                    <a href="mailto:support@blood2life.org" target="_blank" class="social-icons"><i class="fa fa-envelope fa-2x"></i></a>			
                  </div>
            </div>						
          </div>
          </div>
          </div>
          </section>