		<app-header></app-header>
    <!-- Page Content -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="reg_head">Register</h1>
				<form class="form-inline reg-form">
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Last Name">
					</div>	
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Phone Number">
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Subject">
					</div>	
					<div class="col-sm-12 check_align">
					<div class="checkbox">
					  <label><input type="checkbox" value="">Your number will be visible to everyone</label>
					</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control" id="gender" placeholder="Gender">
							<option>Male</option>
							<option>Female</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="DOB">
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Age">
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control">
							<option *ngFor="let b of bloodGroups" [value]="b.BloodGroupID">{{b.BloodGroup}}</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control">
								<option>Donation Frequency</option>
								<option value="lessthan3m">Less than 3 Months</option>
								<option value="morethan3m">More than 3 Months</option>
								<option value="never">Never</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Address">
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Hometown">
					</div>
					<div class="col-sm-6">
						<input class="form-group form-control" type="text" placeholder="Pincode">
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <input type="text" class="form-control" placeholder="Current City" />
							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control">
								<!-- <option value="0">Select city or district</option> -->
								<option *ngFor="let c of cities" [value]="c.CityID">{{c.Name}}</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control" [(ngModel)]="registrationData.state" (change) = "getCitiesByStateId($event.target.value)">
								<option value="0">Select State</option>
								<option *ngFor="let s of states" [value]="s.StateID">{{s.Name}}</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
						  <select class="form-control" [(ngModel)]="registrationData.country">
								<option *ngFor="let a of countries" [value]="a.CountryID" [selected]="a.CountryID == '101'">{{a.Name}}</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-12 text-center">
						<button type="submit" class="reg_btn">Register</button>
					</div>
				</form>
          </div>
        </div>
      </div>
    </section>